* {
	margin: 0;
	padding: 0;
}

html, body{ 
    height: 100%;
    width: calc(100vw - (100vw - 100%));
    font-family: 'Roboto', sans-serif;

}

img{
    display: block;
}

#content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5% 20% 1fr 80vh 1fr 20% 5%;
    grid-template-rows: repeat(10, 10vh);
    position:relative;
    background: url("background.jpg") no-repeat fixed center;
    background-size: cover;
}

#playBox{
    grid-column: 4/5;
    grid-row: 2/10;
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(50, 2%);
    background-color: bisque;
    position: absolute;
    box-shadow: 0px 0px 25px 20px rgba(0,0,0,0.5);
    outline:5px solid black
}

#startBox{
    grid-column: 4/5;
    grid-row: 5/7;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#play, #playTwo{

    height: 40%;
    width: 50%;
    border:2px solid black;
    background-color: bisque;
    border-radius: 10px;
    margin:1%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#play:hover, #playTwo:hover, #retry:hover{
    background-color: rgb(190, 162, 127);
}

.snakeOne{
    background-color: green;
    z-index: 99;
    box-sizing: border-box;
    border: 1px solid black;
}

.snakeTwo{
    background-color: blue;
    z-index: 99;
    box-sizing: border-box;
    border: 1px solid black;
}

#food{
    background-color:red;
    z-index: 98;
    margin:2px;
}

.info{
    grid-column: 4/5;
    grid-row: 2/10;
    z-index: 100;
    font-size: 15vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(97, 25, 19)
}

.darker{
    background-color:rgb(224, 217, 178);
    opacity: 0.7;
    width:100%;
    height: 100%;;
    
}

#scoreOne, #instructionsOne, #scoreTwo, #instructionsTwo, #retry{

    border:2px solid black;
    background-color: bisque;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    font-size: 7vh;
    grid-row: 4/7;
    display:flex;
    align-items: center;
    flex-direction: column;
}

#scoreOne{
    grid-column: 6/7;
    grid-row: 2/3;

}

#instructionsOne{
    grid-column: 6/7;
    grid-row: 4/7;
}


#retry{
    grid-column: 6/7;
    grid-row: 8/9;
}


#scoreTwo{
    grid-column: 2/3;
    grid-row: 2/3;

}

#instructionsTwo{
    grid-column: 2/3;
    grid-row: 4/7;

}

#board{
    grid-column: 1/51;
    grid-row: 1/51;
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(50, 2%);
}